<li>
	{{name}}

	<button class="change-Appetite" data-id="{{id}}" data-newappetite="{{devoured}}">
		{{#if devoured}}Eat BURGER!{{else}}FEED ME BURGERS!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
